@import "tailwindcss";

@theme {
  --color-primary: #D50000;
  --color-primary-50: #fff0f0;
  --color-primary-100: #ffcdcd;
  --color-primary-200: #ff9b9b;
  --color-primary-300: #ff6969;
  --color-primary-400: #ff3737;
  --color-primary-500: #ff0505;
  --color-primary-600: #D50000;
  --color-primary-700: #a30000;
  --color-primary-800: #710000;
  --color-primary-900: #3f0000;
}